<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chambre</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chambre.css') }}">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');
        form.addEventListener('submit', function() {
            var bathroomCheckbox = document.getElementById('bathroom');
            bathroomCheckbox.value = bathroomCheckbox.checked ? '1' : '0';
        });

        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', function() {
                var itemId = this.dataset.id;
                var itemType = this.dataset.type;
                var deleteForm = document.getElementById('deleteForm');
                deleteForm.item_id.value = itemId;
                deleteForm.item_type.value = itemType;
                deleteForm.submit();
            });
        });

        document.querySelectorAll('.calendar-button').forEach(button => {
            button.addEventListener('click', function() {
                var calendarContainer = document.getElementById('calendarContainer');
                var roomId = this.dataset.roomId;
                var calendarEl = calendarContainer.querySelector('.calendar');
                calendarContainer.style.display = 'block';

                // Vérifie si le calendrier a déjà été initialisé
                if (!calendarContainer.dataset.initialized) {
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        events: `/get_reservations?room_id=${roomId}`
                    });
                    calendar.render();
                    calendarContainer.dataset.initialized = 'true';
                } else {
                    // Si le calendrier a déjà été initialisé, efface le contenu existant
                    calendarEl.innerHTML = '';
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        events: `/get_reservations?room_id=${roomId}`
                    });
                    calendar.render();
                }
            });
        });

        document.getElementById('closeCalendar').addEventListener('click', function() {
            var calendarContainer = document.getElementById('calendarContainer');
            calendarContainer.style.display = 'none';
        });

        // Afficher ou masquer les formulaires
        document.getElementById('toggleCategoryForm').addEventListener('click', function() {
            var categoryForm = document.getElementById('categoryFormContainer');
            if (categoryForm.style.display === 'none') {
                categoryForm.style.display = 'block';
                this.textContent = 'Masquer le formulaire pour ajouter une catégorie';
            } else {
                categoryForm.style.display = 'none';
                this.textContent = 'Afficher le formulaire pour ajouter une catégorie';
            }
        });

        document.getElementById('toggleRoomForm').addEventListener('click', function() {
            var roomForm = document.getElementById('roomFormContainer');
            if (roomForm.style.display === 'none') {
                roomForm.style.display = 'block';
                this.textContent = 'Masquer le formulaire pour ajouter une chambre';
            } else {
                roomForm.style.display = 'none';
                this.textContent = 'Afficher le formulaire pour ajouter une chambre';
            }
        });

    });
    </script>
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn-back">Retour au dashboard</a>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="content">
            <h2>Catégorie</h2>
            <div class="room-list">
                {% if info["catégorie"] %}
                    {% for nom, simple, double, sdb, prix in info["catégorie"] %}
                    <div class="row">
                        Nom: {{ nom }} | Lit Simple : {{ simple }} | Lit Double : {{ double }} | Salle de Bain : {{ sdb }} | Prix HT : {{ prix }}
                        <button class="delete-button" data-id="{{ nom }}" data-type="categorie">Supprimer</button>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune catégorie n'a été enregistrée</p>
                {% endif %}
            </div>

            <h2>Chambres</h2>
            <div class="room-list">
                {% if info["chambres"] %}
                    {% for id, etage, catégorie, libre in info["chambres"] %}
                    <div class="row">
                        Numéro de chambre : {{ id }} | Étage : {{ etage }} | Catégorie : {{catégorie}}
                        <button class="delete-button" data-id="{{ id }}" data-type="chambre">Supprimer</button>
                        <button class="calendar-button" data-room-id="{{ id }}" style="background-color: #0fe2f5;" >Voir le calendrier</button>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune chambre n'a été enregistrée</p>
                {% endif %}
            </div>
        </div>

        <div class="content">
            <button id="toggleCategoryForm" class="btn-toggle">Afficher le formulaire pour ajouter une catégorie</button>
            <div id="categoryFormContainer" class="formContainer" style="display: none;">
                <h2>Ajouter une catégorie de chambre</h2>
                <form action="{{ url_for('chambre') }}" method="post">
                    <div class="form-group">
                        <label>Nom de la catégorie :</label>
                        <input type="text" id="categorie" name="categorie" required>
                    </div>

                    <div class="form-group">
                        <label for="simple_beds">Nombre de lits simples :</label>
                        <input type="number" id="simple_beds" name="simple_beds" required min="0">
                    </div>

                    <div class="form-group">
                        <label for="double_beds">Nombre de lits doubles :</label>
                        <input type="number" id="double_beds" name="double_beds" required min="0">
                    </div>

                    <div class="form-group">
                        <label for="bathroom">Salle de bain :</label>
                        <input type="number" id="bathroom" name="bathroom">
                    </div>

                    <div class="form-group">
                        <label for="price">Prix HT :</label>
                        <input type="number" id="price" name="price" required min="0">
                    </div>

                    <input type="submit" value="Ajouter la catégorie">
                </form>
            </div>
        </div>

        <div class="content">
            <button id="toggleRoomForm" class="btn-toggle">Afficher le formulaire pour ajouter une chambre</button>
            <div id="roomFormContainer" class="formContainer" style="display: none;">
                <h2>Ajouter une chambre</h2>
                <form action="{{ url_for('chambre') }}" method="post">
                    <div class="form-group">
                        <label>Numéro de chambre :</label>
                        <input type="number" name="room_id" required>
                    </div>
                    <div class="form-group">
                        <label>Etage :</label>
                        <input type="number" name="etage" required>
                    </div>
                    <div class="form-group">
                        <label>Nom de la catégorie :</label>
                        <input type="text" name="categorie" required>
                    </div>

                    <input type="submit" value="Ajouter la chambre">
                </form>
            </div>
        </div>

        <div id="calendarContainer" class="calendar-container" style="display: none;">
            <div class="calendar"></div>
            <button id="closeCalendar">Fermer le calendrier</button>
        </div>

        <form id="deleteForm" action="{{ url_for('chambre') }}" method="post">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="item_id" value="">
            <input type="hidden" name="item_type" value="">
        </form>
    </div>
</body>
</html>
