<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
        <label for="mail">
            Mail:
            <input id="mail" type="email" placeholder="{{ email  }}">
        </label>
        <label for="objet">
            Objet:
            <input id="objet" placeholder="{{ obj  }}">
        </label>
        <label for="msg">
            Message:
            <input id="msg" placeholder="{{ msg  }}">
        </label>
</body>
</html>