<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Inscription</title>
</head>
<body>
  <section>
    <div class="login-box">
      <div class="form-value">
        <h2>Inscription</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('inscription') }}" method="POST">
          {{ form.hidden_tag() }}
          <div class="inputbox">
            {{ form.username.label }}
            {{ form.username(size=32) }}
          </div>
          <div class="inputbox">
            {{ form.password.label }}
            {{ form.password(size=32) }}
          </div>
          <div class="inputbox">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=32) }}
          </div>
          <button type="submit">S'inscrire</button>
        </form>
      </div>
      <div class="login">
            <a class="login" href="{{ url_for('connexion') }}">Se connecter</a>
          </div>
    </div>
  </section>
</body>
</html>
